* {
  margin: 0;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #371447;
}
