* {
  margin: 0;
  font-weight: normal;
  box-sizing: border-box;
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #777777;
}

button {
  background: none;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  padding: 12px 15px;
  border-radius: 5px;
  min-width: 100px;
  transition: 150ms ease-in-out;
}

.PrimaryButton {
  background: #412bb5;
  border: 1px solid #412bb5;
}

.PrimaryButton:hover {
  background: #281784;
}

.SecondaryButton {
  background: none;
  border: 1px solid #412bb5;
  color: black;
}

.SecondaryButton:hover {
  background: #412bb5;
  color: white;
}
