.CollectionCard-card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
  border-radius: 8px;
  box-sizing: content-box;
  padding: 30px 75px 30px 30px;
  margin: 8px;
  min-width: 200px;
  background-color: #fff;
  transition-duration: 200ms;
}

.CollectionCard-card > p {
  margin-top: 10px;
}

.CollectionCard-card:hover {
  -webkit-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
}

.CollectionCard-text {
  font-weight: 600;
  font-size: 26px;
}

.CollectionCard-lead {
  font-size: 20px;
  color: #8e8c8c;
}
