.title {
  text-align: center;
  margin: 2vh 0 10vh 0;
  font-weight: 700;
  font-size: 40px;
  color: rgb(101, 48, 150);
}

.supporterWrapper {
  width: 60vw;
  min-height: 65vh;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  margin-bottom: 3vh;
}

.supporterWrapper div:nth-child(1),
.supporterWrapper div:nth-child(3) {
  height: 95%;
  width: 30%;
  align-self: flex-end;
  border-radius: 6px 0 6px 6px;
  background-color: #cac3e2;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ff00e1' fill-opacity='0.09'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.benefits {
  padding: 0 35px 20px 35px;
  height: 95%;
  width: 40%;
  position: relative;
  align-self: flex-start;
  border-radius: 6px 6px 0 0;
  background-color: #9c72af;
  -webkit-box-shadow: 0px 0px 65px -21px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 0px 65px -21px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 65px -21px rgba(0, 0, 0, 0.9);
}

.badge {
  position: absolute;
  left: 50%;
  top: -10%;
  transform: translateX(-50%);
  max-width: 200px;
}

.icon {
  margin-right: 8px;
  color: #ffb532;
}

.benefits h2 {
  color: white;
  text-align: center;
  margin-top: 130px;
  letter-spacing: 2px;
}

.benefitsList {
  position: relative;
  list-style: none;
  text-align: center;
  margin-top: 40px;
  padding-inline-start: 0;
  border-top: 2px solid rgb(40, 4, 75);
}

.benefitsList li {
  margin: 11% 0;
  font-weight: 600;
  font-size: 20px;
  color: rgb(40, 4, 75);
}

.supportBtn {
  width: 75%;
  display: block;
  margin: auto;
  background-color: #f8b849;
}

@media (max-width: 2000px) {
  .benefitsList li {
    margin: 15% 0;
  }
}

@media (max-width: 1500px) {
  .supporterWrapper {
    width: 75vw;
  }
}

@media (max-width: 1200px) {
  .supporterWrapper div:nth-child(1) {
    width: 25%;
  }

  .benefits {
    width: 50%;
  }

  .supporterWrapper div:nth-child(3) {
    width: 25%;
  }

  .supporterWrapper {
    width: 95vw;
  }

  .benefitsList li {
    margin: 13% 0;
  }
}

@media (max-height: 800px) {
  .badge {
    top: -15%;
  }

  .title {
    margin-bottom: 16vh;
  }
}

@media (max-width: 650px) {
  .badge {
    width: 140px;
  }

  .supporterWrapper div:nth-child(1) {
    display: none;
  }

  .benefits {
    width: 85%;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 65px -21px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 65px -21px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 65px -21px rgba(0, 0, 0, 0.7);
  }

  .supporterWrapper div:nth-child(3) {
    display: none;
  }

  .supporterWrapper {
    height: fit-content;
  }

  .benefits h2 {
    margin-top: 90px;
  }
}

@media (max-width: 550px) {
  .title {
    font-size: 30px;
  }
}

@media (max-width: 350px) {
  .benefitsList li {
    font-size: 16px;
  }

  .title {
    font-size: 25px;
  }
}
