.btn {
  color: var(--neutral-100);
  background-color: var(--purple-600);
  transition: 150ms ease-in-out;
  font-size: 1.2rem;
  padding: 10px 15px;
  border-radius: 6px;
  min-width: 150px;
}

.btn:hover {
  background: var(--purple-700);
}

.ghost-btn {
  border: 1px solid var(--purple-700);
  color: var(--purple-600);
  background: none;
}

.ghost-btn:hover {
  background-color: var(--purple-600);
  color: var(--neutral-100);
}
