.AuthHome-container {
  min-height: calc(100vh - 100px);
  width: 100vw;
}

.AuthHome-hero {
  min-height: calc(50vh - 50px);
  padding: 20px 20px 40px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.AuthHome-HeroTextContainer {
  width: 80%;
  margin: 0 auto;
}

.AuthHome-HeroTextHeading {
  font-weight: bold;
  font-size: 5rem;
  margin-bottom: 10px;
}

.AuthHome-HeroTextLead {
  font-size: 1.6rem;
}

.AuthHome-btn {
  margin: 40px 15px 20px 0;
}

.AuthHome-grey {
  display: flex;
  flex-direction: column;
  background-color: var(--neutral-200);
  min-height: calc(50vh - 50px);
}

.AuthHome-CollectionsContainer {
  margin: auto;
  padding: 2rem 20px;
  width: 100%;
}

.AuthHome-red {
  background-color: var(--orange-500);
  height: 200px;
}

.rec-dot:hover,
.rec-dot:focus {
  box-shadow: 0 0 1px 3px var(--red-700) !important;
}

.rec-dot_active {
  background-color: var(--red-700) !important;
  box-shadow: 0 0 1px 3px var(--red-700) !important;
}

.rec-arrow {
  color: var(--neutral-100) !important;
  background: var(--red-700) !important;
}

.rec-arrow:hover {
  background: var(--red-800) !important;
}

@media (max-height: 1000px) {
  .AuthHome-red {
    height: 100px;
  }
}

@media (max-width: 450px) {
  .AuthHome-HeroTextContainer {
    width: 100%;
  }

  .AuthHome-HeroTextHeading {
    font-size: 3rem;
  }

  .AuthHome-HeroTextLead {
    font-size: 1.2rem;
  }
}

@media (max-width: 400px) {
  .AuthHome-btn {
    margin: 40px 0 20px 0;
  }
}
