.AuthHome-svg {
  position: relative;
  height: auto;
  max-width: 100%;
  min-width: 1600px;
}

.AuthHome-nextarrow:hover {
  cursor: pointer;
  fill: #f9aa97;
}

.AuthHome-container {
  height: calc(100vh - 100px);
  width: 100vw;
}

.AuthHome-grey {
  background-color: #f6f6fa;
  min-height: 50%;
  width: 100vw;
  display: flex;
  position: relative;
  flex-direction: column;
}

.AuthHome-red {
  background-color: #f67354;
  padding: 40px;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AuthHome-HeroTextContainer {
  width: 80%;
  margin: 0 auto;
}

.AuthHome-HeroTextHeading {
  font-size: 72px;
  font-weight: bold;
}

.AuthHome-HeroTextLead {
  font-size: 24px;
}

.AuthHome-red > svg {
  margin: 0 50px;
  cursor: pointer;
}

.AuthHome-fill:hover {
  fill: #f9aa97;
}

.AuthHome-hero {
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.AuthHome-CollectionsContainer {
  flex-grow: 1;
  width: 85%;
  margin: auto;
  padding-top: 75px;
}

.AuthHome-button {
  margin: 25px 5px 0 0;
}

@media (max-width: 450px) {
  .AuthHome-red > svg {
    margin: 0 25px;
  }

  .AuthHome-HeroTextHeading {
    font-size: 52px;
  }

  .AuthHome-HeroTextLead {
    font-size: 16px;
  }
}

@media (max-width: 420px) {
  .AuthHome-button {
    margin: 5px 0 10px 0;
  }
}
