.AddCollection-label-container {
  width: 50%;
  margin: 1.5rem auto 1rem auto;
}

.AddCollection-label {
  font-family: "Roboto Mono", monospace;
}

.AddCollection-error {
  font-family: "Roboto Mono", monospace;
  color: var(--error);
  width: 50%;
  margin: 0.5rem auto 0 auto;
}

.AddCollection-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  overflow-y: scroll;
  background-color: var(--neutral-200);
  width: 50%;
  padding: 20px;
  max-height: 500px;
}

.AddCollection-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--neutral-100);
  margin: 10px;
  border-radius: 8px;
  width: 80px;
  height: 80px;
}

.AddCollection-preview-active,
.AddCollection-preview:hover {
  background-color: var(--neutral-300);
}

.AddCollection-form .input-group .input {
  width: 100%;
  min-width: 0;
}

.AddCollection-form .input-group {
  width: 50%;
}

.AddCollection-collection-icon {
  color: var(--red-300);
}

.AddCollection-btn {
  width: 50%;
  margin: 1.5rem auto 0 auto;
}

@media (max-width: 650px) {
  .AddCollection-grid,
  .AddCollection-label-container,
  .AddCollection-btn,
  .AddCollection-error {
    width: 100%;
  }

  .AddCollection-form .input-group {
    width: 100%;
  }
}
