.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
  transition: opacity 0.1s ease-in-out;
}

.modal-overlay-hidden {
  pointer-events: none;
  opacity: 0;
}

.modal-content {
  position: fixed;
  z-index: 6;
  top: 50%;
  left: 50%;
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.25);
  background-color: var(--neutral-100);
  transform: translate(-50%, -50%);
  width: 1000px;
  min-height: 600px;
  padding: 20px;
  border-radius: 8px;
}

.modal-content-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-content button {
  display: block;
  margin-left: auto;
}

.modal-close {
  width: 40px;
  height: 40px;
}

@media (max-width: 1050px) {
  .modal-content {
    width: calc(100vw - 40px);
    height: fit-content;
  }
}
