.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 8vh;
  width: 60%;
}

.imgWrapper {
  width: 40%;
  margin-bottom: 2vh;
}

.formWrapper {
  border-radius: 5px;
  padding: 40px 20px 40px 20px;
  background-color: #e3dbfb;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formWrapper label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.formWrapper label p {
  align-self: flex-start;
  padding-left: 9%;
  color: rgb(101, 48, 150);
  font-weight: 550;
  font-size: 1.4vw;
}

.btn {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 20px 60px;
  background-color: rgb(185, 141, 226);
  color: rgb(101, 48, 150);
  margin-top: 20px;
  font-size: 20px;
  font-weight: 550;
}

.formWrapper input {
  outline: none;
  border: none;
  margin: 3% 0 3% 0;
  border-radius: 5px;
  padding: 3%;
  width: 75%;
  background-color: rgb(185, 141, 226);
  color: rgb(101, 48, 150);
  font-size: 20px;
  font-weight: 550;
}

@media (max-width: 2000px) {
  .imgWrapper {
    width: 45%;
  }

  .formWrapper {
    width: 45%;
  }
}

@media (max-width: 1500px) {
  .imgWrapper {
    width: 65%;
  }

  .formWrapper {
    width: 65%;
  }
}

@media (max-width: 1000px) {
  .imgWrapper {
    width: 100%;
  }

  .formWrapper {
    width: 100%;
    padding: 30px 20px 30px 20px;
  }

  .formWrapper label p {
    font-size: 3vw;
  }
}

@media (max-width: 500px) {
  .formWrapper label p {
    font-size: 4vw;
  }

  .btn {
    padding: 15px 30px;
  }
}
