/* NAVBAR */

.navbar {
  background-color: #6a1b9a;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar * {
  padding: 20px 20px 18px 20px;
  cursor: pointer;
}

.navbar *:hover {
  background-color: #7d3ea3;
}

.item {
  border-bottom: 5px solid transparent;
}

.hamburger {
  padding-left: 30px;
  color: white;
  cursor: pointer;
}

/* SIDEBAR */

.close {
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 7%;
}

.sidebarOverlay {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 850ms;
}

.sidebarPanel {
  z-index: 10;
  padding: 0 5px 0 5px;
  left: -100%;
  width: 15%;
  height: 100vh;
  position: fixed;
  background-color: #38006b;
  transition: 850ms;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.8);
}

.active {
  left: 0;
  transition: 350ms;
}

.navList {
  padding-inline-start: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
}

.navItem {
  width: 85%;
  margin: 10px 0 10px 0;
  border-radius: 4px;
  padding: 10px;
}

.navItem:hover {
  background-color: #4a0c83;
}

.navItem a {
  text-decoration: none;
  display: flex;
  align-items: flex-end;
}

.navItemText {
  margin-left: 20px;
  font-size: 30px;
  font-weight: bold;
  line-height: 24px;
}

@media (max-width: 1500px) {
  .sidebarPanel {
    width: 20%;
  }
}

@media (max-width: 1100px) {
  .navItemText {
    display: none;
  }

  .close {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }

  .navItem {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .navbar * {
    padding: 20px 10px 20px 10px;
  }
}
