.donutchart-track {
  fill: transparent;
  stroke: #b88bd4;
  stroke-width: 26;
}
.donutchart-indicator {
  fill: transparent;
  stroke: #6a1b9a;
  stroke-width: 26;
  stroke-dasharray: 0 10000;
  transition: stroke-dasharray 0.3s ease;
}

.donutchart {
  border-radius: 50%;
  display: block;
}

.donutchart-text {
  fill: #000000;
}

.donutchart-text-label {
  font-size: 1.2rem;
  font-weight: 550;
}
