.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 15;
}

.modalContent {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 35px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #9c72af;
  z-index: 20;
  border-radius: 6px;
  min-width: 25%;
  min-height: 40%;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 2%;
  left: 2%;
}

@media (max-width: 1000px) {
  .modalContent {
    width: 50%;
    height: 50%;
  }

  .close {
    left: 4%;
  }
}

@media (max-width: 700px) {
  .modalContent {
    width: 75%;
    height: 20%;
  }
}
