.navbar {
  background-color: #6a1b9a;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar * {
  padding: 20px 20px 18px 20px;
  cursor: pointer;
}

.navbar *:hover {
  background-color: #7d3ea3;
}

.item {
  border-bottom: 5px solid transparent;
}

@media (max-width: 400px) {
  .navbar * {
    padding: 20px 10px 20px 10px;
  }
}
